/Model/GeneralPreTrained/bestZebraCrossing.pt
/Model/YoloPreTrained/yolo11s-seg.pt
/Model/YoloPreTrained/yolo11x-seg.pt
/Model/GeneralPreTrained/yolov8Road_n-seg.pt
/Model/GeneralPreTrained/yolov8Road_n-seg1.pt
/Model/GeneralPreTrained/yolov8Road_n-seg2.pt
/Model/RoadSeg/weights/best.pt
/yolov8x-seg.pt
/yolo11n.pt
/road_segmentation_runs/RoadSegmentation_11_04_2025/args.yaml
/road_segmentation_runs/RoadSegmentation_11_04_20252/args.yaml
/road_segmentation_runs/RoadSegmentation_11_04_20253/args.yaml
/road_segmentation_runs/RoadSegmentation_11_04_20255/args.yaml
/road_segmentation_runs/RoadSegmentation_11_04_20256/args.yaml
/road_segmentation_runs/RoadSegmentation_11_04_20257/args.yaml
/road_segmentation_runs/RoadSegmentation_11_04_2025/weights/best.pt
/road_segmentation_runs/RoadSegmentation_11_04_20252/weights/best.pt
/road_segmentation_runs/RoadSegmentation_11_04_20253/weights/best.pt
/road_segmentation_runs/RoadSegmentation_11_04_20254/weights/best.pt
/road_segmentation_runs/RoadSegmentation_11_04_20255/weights/best.pt
/road_segmentation_runs/RoadSegmentation_11_04_20256/weights/best.pt
/road_segmentation_runs/RoadSegmentation_11_04_20257/weights/best.pt
/road_segmentation_runs/RoadSegmentation_11_04_20252/BoxF1_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20253/BoxF1_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20254/BoxF1_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20255/BoxF1_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20256/BoxF1_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20257/BoxF1_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20252/BoxP_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20253/BoxP_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20254/BoxP_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20255/BoxP_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20256/BoxP_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20257/BoxP_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20252/BoxPR_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20253/BoxPR_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20254/BoxPR_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20255/BoxPR_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20256/BoxPR_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20257/BoxPR_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20252/BoxR_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20253/BoxR_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20254/BoxR_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20255/BoxR_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20256/BoxR_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20257/BoxR_curve.png
/temp/confusion_matrix.pickle
/road_segmentation_runs/RoadSegmentation_11_04_20252/confusion_matrix.png
/road_segmentation_runs/RoadSegmentation_11_04_20253/confusion_matrix.png
/road_segmentation_runs/RoadSegmentation_11_04_20254/confusion_matrix.png
/road_segmentation_runs/RoadSegmentation_11_04_20255/confusion_matrix.png
/road_segmentation_runs/RoadSegmentation_11_04_20256/confusion_matrix.png
/road_segmentation_runs/RoadSegmentation_11_04_20257/confusion_matrix.png
/temp/confusion_matrix.png
/road_segmentation_runs/RoadSegmentation_11_04_20252/confusion_matrix_normalized.png
/road_segmentation_runs/RoadSegmentation_11_04_20253/confusion_matrix_normalized.png
/road_segmentation_runs/RoadSegmentation_11_04_20254/confusion_matrix_normalized.png
/road_segmentation_runs/RoadSegmentation_11_04_20255/confusion_matrix_normalized.png
/road_segmentation_runs/RoadSegmentation_11_04_20256/confusion_matrix_normalized.png
/road_segmentation_runs/RoadSegmentation_11_04_20257/confusion_matrix_normalized.png
/temp/confusion_matrix_percentages.pickle
/temp/confusion_matrix_percentages.png
/DatasetCreator/YoloDatasetProcessor/dataset_saving_working_dir/road/data.yaml
/road_segmentation_runs/RoadSegmentation_11_04_2025/labels.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20252/labels.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20253/labels.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20254/labels.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20255/labels.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20256/labels.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20257/labels.jpg
/road_segmentation_runs/RoadSegmentation_11_04_2025/labels_correlogram.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20252/labels_correlogram.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20253/labels_correlogram.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20254/labels_correlogram.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20255/labels_correlogram.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20256/labels_correlogram.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20257/labels_correlogram.jpg
/road_segmentation_runs/RoadSegmentation_11_04_2025/weights/last.pt
/road_segmentation_runs/RoadSegmentation_11_04_20252/weights/last.pt
/road_segmentation_runs/RoadSegmentation_11_04_20253/weights/last.pt
/road_segmentation_runs/RoadSegmentation_11_04_20254/weights/last.pt
/road_segmentation_runs/RoadSegmentation_11_04_20255/weights/last.pt
/road_segmentation_runs/RoadSegmentation_11_04_20256/weights/last.pt
/road_segmentation_runs/RoadSegmentation_11_04_20257/weights/last.pt
/road_segmentation_runs/RoadSegmentation_11_04_20252/MaskF1_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20253/MaskF1_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20254/MaskF1_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20255/MaskF1_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20256/MaskF1_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20257/MaskF1_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20252/MaskP_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20253/MaskP_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20254/MaskP_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20255/MaskP_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20256/MaskP_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20257/MaskP_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20252/MaskPR_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20253/MaskPR_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20254/MaskPR_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20255/MaskPR_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20256/MaskPR_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20257/MaskPR_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20252/MaskR_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20253/MaskR_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20254/MaskR_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20255/MaskR_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20256/MaskR_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_20257/MaskR_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_2025/results.csv
/road_segmentation_runs/RoadSegmentation_11_04_20252/results.csv
/road_segmentation_runs/RoadSegmentation_11_04_20253/results.csv
/road_segmentation_runs/RoadSegmentation_11_04_20254/results.csv
/road_segmentation_runs/RoadSegmentation_11_04_20255/results.csv
/road_segmentation_runs/RoadSegmentation_11_04_20256/results.csv
/road_segmentation_runs/RoadSegmentation_11_04_20257/results.csv
/road_segmentation_runs/RoadSegmentation_11_04_20252/results.png
/road_segmentation_runs/RoadSegmentation_11_04_20253/results.png
/road_segmentation_runs/RoadSegmentation_11_04_20254/results.png
/road_segmentation_runs/RoadSegmentation_11_04_20255/results.png
/road_segmentation_runs/RoadSegmentation_11_04_20256/results.png
/road_segmentation_runs/RoadSegmentation_11_04_20257/results.png
/DatasetCreator/YoloDatasetProcessor/dataset_saving_working_dir/road/train/images/road5_07258_1.jpg
/DatasetCreator/YoloDatasetProcessor/dataset_saving_working_dir/road/train/labels/road5_07258_1.txt
/DatasetCreator/YoloDatasetProcessor/dataset_saving_working_dir/road/train/masks/road5_07258_1_overlay.jpg
/DatasetCreator/YoloDatasetProcessor/dataset_saving_working_dir/road/train/images/road5_07258_2.jpg
/DatasetCreator/YoloDatasetProcessor/dataset_saving_working_dir/road/train/labels/road5_07258_2.txt
/DatasetCreator/YoloDatasetProcessor/dataset_saving_working_dir/road/train/masks/road5_07258_2_overlay.jpg
/DatasetCreator/YoloDatasetProcessor/dataset_saving_working_dir/road/train/images/road5_07258_3.jpg
/DatasetCreator/YoloDatasetProcessor/dataset_saving_working_dir/road/train/labels/road5_07258_3.txt
/DatasetCreator/YoloDatasetProcessor/dataset_saving_working_dir/road/train/masks/road5_07258_3_overlay.jpg
/DatasetCreator/YoloDatasetProcessor/dataset_saving_working_dir/road/train/images/road5_072581_1.jpg
/DatasetCreator/YoloDatasetProcessor/dataset_saving_working_dir/road/train/labels/road5_072581_1.txt
/DatasetCreator/YoloDatasetProcessor/dataset_saving_working_dir/road/train/masks/road5_072581_1_overlay.jpg
/DatasetCreator/YoloDatasetProcessor/dataset_saving_working_dir/road/train/images/road5_072581_2.jpg
/DatasetCreator/YoloDatasetProcessor/dataset_saving_working_dir/road/train/labels/road5_072581_2.txt
/DatasetCreator/YoloDatasetProcessor/dataset_saving_working_dir/road/train/masks/road5_072581_2_overlay.jpg
/DatasetCreator/YoloDatasetProcessor/dataset_saving_working_dir/road/train/images/road5_072581_3.jpg
/DatasetCreator/YoloDatasetProcessor/dataset_saving_working_dir/road/train/labels/road5_072581_3.txt
/DatasetCreator/YoloDatasetProcessor/dataset_saving_working_dir/road/train/masks/road5_072581_3_overlay.jpg
/temp/roc_curve.png
/road_segmentation_runs/RoadSegmentation_11_04_2025/train_batch0.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20252/train_batch0.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20253/train_batch0.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20254/train_batch0.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20256/train_batch0.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20257/train_batch0.jpg
/road_segmentation_runs/RoadSegmentation_11_04_2025/train_batch1.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20252/train_batch1.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20253/train_batch1.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20254/train_batch1.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20255/train_batch1.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20256/train_batch1.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20257/train_batch1.jpg
/road_segmentation_runs/RoadSegmentation_11_04_2025/train_batch2.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20252/train_batch2.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20253/train_batch2.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20254/train_batch2.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20255/train_batch2.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20256/train_batch2.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20257/train_batch2.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20252/val_batch0_labels.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20253/val_batch0_labels.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20254/val_batch0_labels.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20255/val_batch0_labels.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20256/val_batch0_labels.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20257/val_batch0_labels.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20252/val_batch0_pred.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20253/val_batch0_pred.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20254/val_batch0_pred.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20255/val_batch0_pred.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20256/val_batch0_pred.jpg
/road_segmentation_runs/RoadSegmentation_11_04_20257/val_batch0_pred.jpg
/yolov8s-seg.pt
/temp1/confusion_matrix.pickle
/temp1/confusion_matrix.png
/temp1/confusion_matrix_percentages.pickle
/temp1/confusion_matrix_percentages.png
/temp1/roc_curve.png
