/Model/GeneralPreTrained/bestZebraCrossing.pt
/Model/YoloPreTrained/yolo11s-seg.pt
/Model/YoloPreTrained/yolo11x-seg.pt
/Model/GeneralPreTrained/yolov8Road_n-seg.pt
/Model/GeneralPreTrained/yolov8Road_n-seg1.pt
/Model/GeneralPreTrained/yolov8Road_n-seg2.pt
/Model/RoadSeg/weights/best.pt
/road_segmentation_runs/
/yolo11n.pt
/yolov8s-seg.pt
/yolov8x-seg.pt
/Model/RoadSeg/weights/bestNew.pt
