GPUtil
matplotlib
natsort
numpy
panda
Pillow
psutil
pynvml
tqdm
pyopencl
PyYAML
seaborn
skimage
ultralytics
tensorflow
tensorflow-intel==2.12.0
torch
torchvision
opencv-contrib-python
pandas
scikit-learn
scikit-image
filterpy
albumentations